    html{
        background-color: #f4f4f4;
    }

    .Navigation-bar{
        position: sticky;
        z-index: 1000;
        overflow: hidden;
        top: 0%; 
        height: 75px;
        background-color: #b1d7ed;
        display: block;
        text-decoration: none;
    }
    
    .Starting-head{
        position: static;
        height: 1000px;
        background-color: #1b3bd9;
    }

    .Headtitle{
        font-family: "Host Grotesk";
        font-weight: bold;
        font-size: 5.7vw; 
        color: #1b3bd9; 
        width: 95%; 
        text-align: center; 
        display: block; 
        margin-bottom: 0.5vw;
    }


    .Title {
        font-family: "Host Grotesk";
        font-weight: bold;
        font-size:5vw; 
        color:#1b3bd9;
        width: 95%; 
        text-align: center; 
        display: block; 
        margin-bottom: 1vw;
    }
    .Subtitle{
        font-family: "Host Grotesk";
        font-weight: bold;
        font-size: 2.5vw; 
        color: #000f20;
    }

    .Bodytext{
        font-family: "Host Grotesk";
        font-size: 1.8vw; 
        color: #000f20;
    }

    .glitchbrick{
        position: relative;
        background-color: #1b3bd9;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;        
    }

    .glitchbrick-floating{
        background-color: #1b3bd9;
        position:relative;
        vertical-align: top;
        margin: 0;
        padding: 0;        
    }

    html, body {
        margin: 0;
        padding: 0;
    } 
    
    .columncontainer {
        display: flex;
        margin: 30px;
        gap: 30px;
        flex-wrap: wrap; 
        max-width: 1024px; 
        margin: 0 auto;
        
    }
    .columncontainer > div {
        width:25%;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 25px;
        text-align: center;
    }

    .bluecolumn {
        background-color:#b1d7ed; flex-basis:0; flex-grow: 1; flex-shrink: 1; min-width: 150px
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.8vw;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        font-size: 1.8vw; 
        color: #1b3bd9; 
        text-align: center; 
        background-color:#b1d7ed; 
        border: 3px solid #1b3bd9;
        margin: 4px 2px;
        padding: 16px 32px;
        border-radius: 8px;
    }

    .button1:hover {
        font-size: 1.7vw; 
        color: #1b3bd9; 
        text-align: center; 
        background-color:#1b3bd9; 
        border: 3px solid #1b3bd9;
    }
