    html{
        background-color: #f4f4f4;
    }
    
    .Starting-head{
        position: static;
        height: 1000px;
        background-color: #1b3bd9;
    }

    .Headtitle{
        font-family: "Host Grotesk";
        font-weight: bold;
        font-size: 100px; 
        color: #1b3bd9; 
        width: 95%; 
        text-align: center; 
        display: block; 
    }


    .Title {
        font-family: "Host Grotesk";
        font-weight: bold;
        font-size: 95px; 
        color:#1b3bd9;
        width: 100%; 
        text-align: center; 
        display: block; 
    }

    .Subtitle{
        font-family: "Host Grotesk";
        font-weight: bold;
        font-size: 32px; 
        color: #000f20;
    }

    .Bodytext{
        font-family: "Host Grotesk";
        font-size: 25px; 
        color: #000f20;
    }

    .glitchbrick{
        position: relative;
        background-color: #1b3bd9;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;        
    }

    .glitchbrick-floating{
        background-color: #1b3bd9;
        position:relative;
        vertical-align: top;
        margin: 0;
        padding: 0;        
    }

    html, body {
        margin: 0;
        padding: 0;
    } 
    
    .columncontainer {
        display: flex;
        margin: 30px;
        gap: 50px;
        flex-wrap: wrap; 
        max-width: 1024px; 
        margin: 0 auto;
        
    }
    .columncontainer > div {
        width:25%;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
    }

    .columnflex {
        flex-basis:0; 
        flex-grow: 1; 
        flex-shrink: 1; 
        min-width: 150px;
        position: relative; 
        background-color: transparent;
    }

    .glitchcolumn-lightblue{
        position: absolute; 
        left: -10px; 
        right: 10px; 
        top: -10px; 
        bottom: 10px; 
        background-color: #b1d7ed;
    }

    .glitchcolumn-red{
        position: absolute; 
        left: 10px; 
        right: -10px; 
        top: 10px; 
        bottom: -10px; 
        background-color: #cb000a
    }

    .glitchcolumn-blue{
        position: relative;
        left: 0; 
        right: 0; 
        top: 0; 
        bottom: 0; 
        background-color: #1b3bd9;
        padding: 25px;
        height: 91.2%
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.8vw;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        font-size: 1.8vw; 
        color: #1b3bd9; 
        text-align: center; 
        background-color:#b1d7ed; 
        border: 3px solid #1b3bd9;
        margin: 4px 2px;
        padding: 16px 32px;
        border-radius: 8px;
    }

    .button1:hover {
        font-size: 1.7vw; 
        color: #1b3bd9; 
        text-align: center; 
        background-color:#1b3bd9; 
        border: 3px solid #1b3bd9;
    }
