
    html{
        background-color: #f4f4f4;
    }

    .container{
        width: 100%;
    }

    .image-text{
        width: 97%;
        text-align: center;
        margin: 0 1.5%;
    }

    .image-text image{
        width: 100%;
        height: 80px; 
    }

    .Navigation-bar{
        position: sticky;
        z-index: 1000;
        overflow: hidden;
        top: 0; 
        height: 80px;
        background-color: #b1d7ed;
        display: block;
        text-decoration: none;
    }

    .link-font{
        color: black;
        display: inline-block; 
        position: absolute; 
        padding: 1dvw;
        padding-left: 15%; 
        font-family: 'Host Grotesk'; 
        font-size: 20px;
        font-weight: bold;
    }
    
    .Starting-head{
        position: static;
        height: 80dvw;
        background-color: #1b3bd9;
    }

    .Footer-body{
        position: static;
        height: 30dvw;
        background-color: #1b3bd9;
    }

    .Subtitle{
        font-family: "Host Grotesk";
        font-weight: bold;
    }

    .normal-text{
        font-family: 'Space Grotesk';
    }

    .glitchbrick{
        position: relative;
        background-color: #1b3bd9;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;        
    }

    .glitchbrick-floating{
        position: relative;
        background-color: #1b3bd9;
        display: inline-block;
        vertical-align: top;
        margin: 1%;
        padding: 1%;        
    }

    .services-wrapper{
        display: flex;
        justify-content: center;
        align-items: stretch;

        gap: 4vw;

        flex-wrap: nowrap;

        width: 100%;

        margin-top: 5vw;
        margin-bottom: 10vw;
    }

    .service-card{
        position: relative;
        display: inline-block;

        width: 25%;
        height: 40vw;

        margin: 3%;
    }

    .Service-boxes{
        position: relative;

        background-color: #1b3bd9;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        z-index: 10;
        box-sizing: border-box;

        padding: 2vw;
    }

    .glitch-red{
        position: absolute;

        width: 100%;
        height: 100%;

        background-color: red;

        top: 12px;
        left: 12px;

        z-index: 1;
    }

    .glitch-blue{
        position: absolute;

        width: 100%;
        height: 100%;

        background-color: lightblue;

        top: -12px;
        left: -12px;

        z-index: 0;
    }

    .Box-font{
        font-family: 'Space Grotesk';
        font-size: 3vw;
        text-align: center;
        position: relative;
        color: #f4f4f4;
    }

    .contact-button{
        background-color: #b1d7ed;
        color: #1b3bd9;
    }

    html, body {
    margin: 0;
    padding: 0;
    }   


